<div class="row">
    <div class="col-xl-3 col-lg-3 col-sm-3">
        <div class="entry-area">
            <input class="entry-input" type="text" placeholder="LOCATION NAME" id="locationname" name="locationname">
        </div>

        <div class="entry-area">
            <button id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>
</div>

<hr>

<div>
    <table id="location-table">
        <thead>
            <th>LOCATION CODE</th>
            <th>LOCATION NAME</th>
            <th>STATUS</th>
            <th>CREATED BY</th>
            <th>CREATED DATE</th>
            <th>ACTIONS</th>
        </thead>
        <tbody></tbody>
    </table>
</div>