<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <div class="row mb-4">
            <div class="col-md-6">
              <label class="form-label" for="concernname">CONCERN NAME</label>
              <input
                id="concernname"
                name="concernname"
                type="text"
                class="form-control"
                placeholder="Enter Concern Name"
                aria-label="concernname"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="col-md-4 mt-4">
            <button
              id="addBtn"
              name="addBtn"
              class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm w-50"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row mb-4">
        <div class="col-md-3">
          <h6 class="m-0 font-weight-bold table-title">DataTables Example</h6>
        </div>
        <div class="col-md-6">
          <input
            id="search"
            name="search"
            type="text"
            class="form-control"
            placeholder="Search Concern Name"
            aria-label="search"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive-sm">
        <table
          class="table table-bordered table-sm table-hover"
          id="concern-table"
          width="100%"
          cellspacing="10"
        >
          <thead class="table-dark">
            <tr>
                <th>CONCERN CODE</th>
                <th>CONCERN NAME</th>
                <th>STATUS</th>
                <th>CREATEDBY</th>
                <th>CREATEDDATE</th>
                <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody class="table-light"></tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>