<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs') %>
</head>

<body class="login-container">

    <div class="container">
        <%- include('./login/login.ejs') %>
    </div>

    <!-- Bootstrap core JavaScript-->
    <%- include('script.ejs') %>
    <%- include('./login/loginscript.ejs') %>

</body>

</html>