<!-- LOADER -->
<div class="loader-wrapper">
  <div class="spinner"></div>
</div>

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <button
          class="btn btn-secondary"
          type="button"
          id="logoutBtn"
          name="logoutBtn"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>

<!-- LOADER -->
<div class="loader-wrapper">
  <span class="loader"><span class="loader-inner"></span></span>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/javascripts/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts
<script src="/javascripts/js/demo/chart-area-demo.js"></script>
<script src="/javascripts/js/demo/chart-pie-demo.js"></script> -->

<!-- DATA TABLE -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- SWEET ALERT -->
<script src="/javascripts/sweetalert.min.js"></script>

<!-- XLSX -->
<script src="/javascripts/xlsx.mini.min.js"></script>

<script>
  hideloader();
  function success(title, text) {
    swal({
      title: title,
      text: text,
      icon: "success",
    });
  }
  function warning(title, text) {
    swal({
      title: title,
      text: text,
      icon: "warning",
    });
  }
  function info(title, text) {
    swal({
      title: title,
      text: text,
      icon: "info",
    });
  }
  function errormsg(err) {
    swal({
      title: "Error!",
      text: err,
      icon: "error",
    });
  }

  function showloader() {
    console.log("show loader");
    $(".loader-wrapper").show();
  }

  function hideloader() {
    console.log("hide loader");
    setTimeout(() => {
      $(".loader-wrapper").hide();
    }, 1000);
  }

  $(document).on("click", "#logoutBtn", function () {
    $.ajax({
      type: "POST",
      url: "/login/logout",
      success: function (result) {
        console.log(result);
        if (result.msg == "success") {
          success("Logout", "Logout successfully...");
          location.replace("/");
        } else {
          error("ID & Password not match...");
        }
      },
      error: function (result) {
        error(result.msg);
      },
    });
  });
</script>
