<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <img src="/images/logo.jpg" alt="logo" style="width: 60px; height:60px; border-radius: 60px;">
    </div>
    <div class="sidebar-brand-text mx-3">Ticketing System</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Masters
  </div>

  <!-- Nav Item - Masters Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMasters" aria-expanded="true"
      aria-controls="collapseMasters">
      <i class="fas fa-fw fa-database"></i>
      <span>Master Data</span>
    </a>
    <div id="collapseMasters" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Authentication:</h6>
        <a class="collapse-item" href="/users"> <i class="fas fa-fw fa-user-secret"></i> Users</a>

        <h6 class="collapse-header">Master type:</h6>
        <a class="collapse-item" href="/roles"><i class="fas fa-fw fa-sitemap"></i> Roles</a>
        <a class="collapse-item" href="/position"><i class="fas fa-fw fa-briefcase"></i> Positions</a>
        <a class="collapse-item" href="/department"><i class="fas fa-fw fa-building"></i> Department</a>
        <a class="collapse-item" href="/concern"><i class="fas fa-fw fa-toilet-paper"></i> Concern</a>
        <a class="collapse-item" href="/priority"><i class="fas fa-fw fa-exclamation"></i> Priority</a>
        <a class="collapse-item" href="/urgency"><i class="fas fa-fw fa-truck"></i> Urgency</a>
        <a class="collapse-item" href="/location"><i class="fas fa-fw fa-map"></i> Location</a>
        <a class="collapse-item" href="/status"><i class="fas fa-fw fa-receipt"></i> Status</a>
        <a class="collapse-item" href="/issue"><i class="fas fa-fw fa-receipt"></i> Issue</a>

        <h6 class="collapse-header">Personel:</h6>
        <a class="collapse-item" href="/personel"><i class="fas fa-fw fa-users"></i> Personel</a>

        <h6 class="collapse-header">Client:</h6>
        <a class="collapse-item" href="/client"><i class="fas fa-fw fa-user-tie"></i> Client</a>

      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <!-- Sidebar Message
    <div class="sidebar-card d-none d-lg-flex">
      <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
      <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!
      </p>
      <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div> -->

</ul>