<script>
  $(document).ready(function () {
    LoadTable();
    LoadList();

    $(document).on("click", "#addBtn", function () {
      let issuename = $("#issuename").val();
      let concernlist = $("#concernlist").val();

      var message = "";

      if (issuename == "") {
        message += "ISSUE NAME ";
      }
      if (concernlist == "") {
        message += "CONCERN NAME ";
      }

      if (message != "") {
        warning("Required", `Please fillup ${message} field`);
      } else {
        $.ajax({
          type: "POST",
          url: "/issue/save",
          data: {
            issuename: issuename,
            concernname: concernlist,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning(
                "Exist",
                `${issuename} - ${concernlist} has already registered!`
              );
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    $("#search").on("keyup", function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("issue-table");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/concern/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            var options = new Option(item.concernname, item.concernname);
            $(options).html(item.concernname);
            $("#concernlist").append(options);
          });
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }

    function LoadTable() {
      $("#issue-table").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 550,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/issue/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              if (status == "ACTIVE") {
                action =
                  '<button id="editBtn" name="editBtn">EDIT</button><button id="inactiveBtn" name="inactiveBtn">INACTIVE</button>';
              }
              if (status == "INACTIVE") {
                action =
                  '<button id="editBtn" name="editBtn">EDIT</button><button id="activeBtn" name="activeBtn">ACTIVE</button>';
              }

              finalData.push({
                issuecode: item.issuecode,
                issuename: item.issuename,
                concernname: item.concernname,
                status: item.status,
                createdby: item.createdby,
                createddate: item.createddate,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "issuecode" },
          { data: "issuename" },
          { data: "concernname" },
          { data: "status" },
          { data: "createdby" },
          { data: "createddate" },
          { data: "action" },
        ],
        initComplete: function () {
          console.log("init complete");
          hideloader();
        },
      });
    }
  });
</script>
