<div class="row">
    <div class="col-xl-3 col-lg-3 col-sm-3">
        <div class="entry-area">
            <input class="entry-input" type="text" placeholder="ISSUE NAME" id="issuename" name="issuename">
        </div>
        <div class="entry-area">
            <!-- <input class="entry-input" type="text" placeholder="Role" id="fullname" name="fullname"> -->
            <select class="entry-input" name="concernlist" id="concernlist">
                <option value="">CONCERN NAME</option>
            </select>
        </div>
        <div class="entry-area">
            <button id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>
</div>

<hr>

<div>
    <table id="issue-table">
        <thead>
            <th>ISSUE CODE</th>
            <th>ISSUE NAME</th>
            <th>CONCERN NAME</th>
            <th>STATUS</th>
            <th>CREATEDBY</th>
            <th>CREATEDDATE</th>
            <th>ACTIONS</th>
        </thead>
        <tbody></tbody>
    </table>
</div>