<div class="container">
  <div class="row justify-content-center">
    <div class="row">
      <img
        src="/images/img/logo(White).png"
        class="loginImg"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="cardlogin">
      <div class="card-header loginheader mt-4">
        <div class="row text-center">
          <div class="col-md-12">
            <h3>Sign In</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <label class="form-label" for="mu_username">Username</label>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              type="text"
              name="username"
              id="username"
              class="form-control mr-2"
            />
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label" for="mu_username">Passcode</label>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control mr-2"
            />
          </div>
        </div>
        <div class="form-group btlogin text-center">
          <button
            name="loginBtn"
            id="loginBtn"
            class="d-none d-sm-inline-block btn-sm btn-outline-primary btn btnclr shadow-sm w-50"
          >
            Log in
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
