




<div class="row">
    <div class="col-xl-3 col-lg-3 col-sm-3">
        <div class="entry-area">
            <input class="entry-input" type="text" placeholder="FULLNAME" id="fullname" name="fullname">
        </div>

        <div class="entry-area">
            <!-- <input class="entry-input" type="text" placeholder="Position" id="fullname" name="fullname"> -->
            <select class="entry-input" name="departmentlist" id="departmentlist">
                <option value="">DEPARTMENT</option>
            </select>
        </div>
        <div class="entry-area">
            <!-- <input class="entry-input" type="text" placeholder="Position" id="fullname" name="fullname"> -->
            <select class="entry-input" name="rolelist" id="rolelist">
                <option value="">ROLE</option>
            </select>
        </div>
        <div class="entry-area">
            <!-- <input class="entry-input" type="text" placeholder="Position" id="fullname" name="fullname"> -->
            <select class="entry-input" name="positionlist" id="positionlist">
                <option value="">Position</option>
            </select>
        </div>
        <div class="entry-area">
            <!-- <input class="entry-input" type="text" placeholder="Position" id="fullname" name="fullname"> -->
            <select class="entry-input" name="locationlist" id="locationlist">
                <option value="">LOCATION</option>
            </select>
        </div>

        <div class="entry-area">
            <button id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>
</div>

<hr>

<div>
    <table id="personel-table">
        <thead>
            <th>PERSONEL ID</th>
            <th>FULLNAME</th>
            <th>DEPARTMENT</th>
            <th>ROLE</th>
            <th>POSITION</th>
            <th>LOCATION</th>
            <th>STATUS</th>
            <th>CREATED BY</th>
            <th>CREATED DATE</th>
            <th>ACTIONS</th>
        </thead>
        <tbody></tbody>
    </table>
</div>