<script>
    $(document).ready(function () {
        LoadTable();

        $(document).on('click', '#addBtn', function () {
            let statusname = $('#statusname').val();
           
            var message = "";

            if (statusname == '') { message += 'STATUS NAME ' }
        
            if (message != '') {
                warning('Required', `Please fillup ${message} field`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/status/save',
                    data: {
                        statusname: statusname,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${statusname} has already registered!`)
                        }
                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })


        function LoadTable() {
            $('#status-table').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 550,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/status/load',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = '';
                            var status = item.status;

                            if (status == 'ACTIVE') {
                                action = '<button id="editBtn" name="editBtn">EDIT</button><button id="inactiveBtn" name="inactiveBtn">INACTIVE</button>'
                            }
                            if (status == 'INACTIVE') {
                                action = '<button id="editBtn" name="editBtn">EDIT</button><button id="activeBtn" name="activeBtn">ACTIVE</button>'
                            }

                            finalData.push({
                                statuscode: item.statuscode,
                                statusname: item.statusname,
                                status: item.status,
                                createdby: item.createdby,
                                createddate: item.createddate,
                                action: action,
                            })

                        })

                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'statuscode' },
                    { data: 'statusname' },
                    { data: 'status' },
                    { data: 'createdby' },
                    { data: 'createddate' },
                    { data: 'action' },
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideloader();
                }
            })
        }
    })
</script>