<div class="row">
    <div class="col-xl-3 col-lg-3 col-sm-3">
        <div class="entry-area">
            <select class="entry-input" name="prioritylist" id="prioritylist">
                <option value="">PRIORITY</option>
            </select>
        </div>

        <div class="entry-area">
            <input class="entry-input" type="text" placeholder="DAY" id="day" name="day">
        </div>

        <div class="entry-area">
            <input class="entry-input" type="text" placeholder="HOUR" id="hour" name="hour">
        </div>

        <div class="entry-area">
            <button id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>
</div>

<hr>

<div>
    <table id="prioritydue-table">
        <thead>
            <th>CODE</th>
            <th>PRIORITY NAME</th>
            <th>DAY</th>
            <th>HOUR</th>
            <th>STATUS</th>
            <th>CREATED BY</th>
            <th>CREATED DATE</th>
            <th>ACTIONS</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>