<div class="row">
    <div class="col-xl-3 col-lg-3 col-sm-3">
        <div class="entry-area">
            <input class="entry-input" type="text" placeholder="Fullname" id="fullname" name="fullname">
        </div>
        <div class="entry-area">
            <input class="entry-input" type="text" placeholder="Username" id="username" name="username">
        </div>
        <div class="entry-area">
            <input class="entry-input" type="text" placeholder="Password" id="password" name="password">
        </div>
        <div class="entry-area">
            <!-- <input class="entry-input" type="text" placeholder="Role" id="fullname" name="fullname"> -->
            <select class="entry-input" name="rolelist" id="rolelist">
                <option value="">Role</option>
            </select>
        </div>
        <div class="entry-area">
            <!-- <input class="entry-input" type="text" placeholder="Position" id="fullname" name="fullname"> -->
            <select class="entry-input" name="positionlist" id="positionlist">
                <option value="">Position</option>
            </select>
        </div>

        <div class="entry-area">
            <button id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>
</div>

<hr>

<div>
    <table id="users-table">
        <thead>
            <th>USER ID</th>
            <th>FULLNAME</th>
            <th>USERNAME</th>
            <th>PASSWORD</th>
            <th>ROLE</th>
            <th>POSITION</th>
            <th>CREATED BY</th>
            <th>CREATED DATE</th>
            <th>STATUS</th>
            <th>ACTIONS</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>8</td>
                <td><button>EDIT</button><button>INACTIVE</button><button>ACTIVE</button></td>
            </tr>
        </tbody>
    </table>
</div>