<div class="row">
    <div class="col-xl-4 col-lg-4 col-sm-4">
        <div class="entry-area">
            <input type="text" class="entry-input" id="filtername" name="filtername" placeholder="FILTER NAME">
        </div>
        <div class="entry-area">
            <button id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-sm-8">
        <div class="entry-group">
            <div class="grid-container">
                <div class="grid-item">
                    <input class="entry-checkbox" type="checkbox" id="isticketid" name="isticketid" checked>
                    <label for="isticketid">isticketid</label>
                </div>
                <div class="grid-item"> <input class="entry-checkbox" type="checkbox" id="issubject" name="issubject"
                        checked>
                    <label for="issubject">issubject</label>
                </div>
                <div class="grid-item"> <input class="entry-checkbox" type="checkbox" id="isconcern" name="isconcern"
                        checked>
                    <label for="isconcern">isconcern</label>
                </div>

                <div class="grid-item"><input class="entry-checkbox" type="checkbox" id="isdescription"
                        name="isdescription" checked>
                    <label for="isdescription">isdescription</label>
                </div>
                <div class="grid-item"><input class="entry-checkbox" type="checkbox" id="ispriority" name="ispriority"
                        checked>
                    <label for="ispriority">ispriority</label>
                </div>
                <div class="grid-item"><input class="entry-checkbox" type="checkbox" id="isticketstatus"
                        name="isticketstatus" checked>
                    <label for="isticketstatus">isticketstatus</label>
                </div>

                <div class="grid-item"><input class="entry-checkbox" type="checkbox" id="isassignto" name="isassignto"
                        checked>
                    <label for="isassignto">isassignto</label>
                </div>
                <div class="grid-item"><input class="entry-checkbox" type="checkbox" id="isdepartment"
                        name="isdepartment" checked>
                    <label for="isdepartment">isdepartment</label>
                </div>

                <div class="grid-item">
                    <input class="entry-checkbox" type="checkbox" id="isissue" name="isissue" checked>
                    <label for="isissue">isissue</label>
                </div>
                <div class="grid-item"><input class="entry-checkbox" type="checkbox" id="isrequestername"
                        name="isrequestername" checked>
                    <label for="isrequestername">isrequestername</label>
                </div>
                <div class="grid-item"><input class="entry-checkbox" type="checkbox" id="isrequesteremail"
                        name="isrequesteremail" checked>
                    <label for="isrequesteremail">isrequesteremail</label>
                </div>

                <div class="grid-item">
                    <input class="entry-checkbox" type="checkbox" id="isdatecreated" name="isdatecreated" checked>
                    <label for="isdatecreated">isdatecreated</label>
                </div>
                <div class="grid-item"><input class="entry-checkbox" type="checkbox" id="isduedate" name="isduedate"
                        checked>
                    <label for="isduedate">isduedate</label>
                </div>
                <div class="grid-item"> <input class="entry-checkbox" type="checkbox" id="isstatusdetail"
                        name="isstatusdetail" checked>
                    <label for="isstatusdetail">isstatusdetail</label>
                </div>

                <div class="grid-item">
                    <input class="entry-checkbox" type="checkbox" id="iscomment" name="iscomment" checked>
                    <label for="iscomment">iscomment</label>
                </div>
                <div class="grid-item"><input class="entry-checkbox" type="checkbox" id="isattachement"
                        name="isattachement" checked>
                    <label for="isattachement">isattachement</label>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <table id="filter-table">
        <thead>
            <th>CODE</th>
            <th>FILTER NAME</th>
            <th>ISTICKETID</th>
            <th>ISSUBJECT</th>
            <th>ISCONCERN</th>
            <th>ISISSUE</th>
            <th>ISREQUESTERNAME</th>
            <th>ISREQUESTERMAIL</th>
            <th>ISDESCRIPTION</th>
            <th>ISPRIORITY</th>
            <th>ISTICKETSTATUS</th>
            <th>ISDATECREATED</th>
            <th>ISDUEDATE</th>
            <th>ISSTATUSDETAIL</th>
            <th>ISASSIGNTO</th>
            <th>ISDEPARTMENT</th>
            <th>ISDEPARTMENT</th>
            <th>ISCOMMENT</th>
            <th>STATUS</th>
            <th>CREATED BY</th>
            <th>CREATED DATE</th>
            <th>ACTIONS</th>
        </thead>
        <tbody></tbody>
    </table>
</div>